.rectangle-container {
    
    width: calc(100% - 40px); /* Adjust the width based on the margins */
    height: calc(70vh - 40px); /* Adjust the height based on the margins */
    /* background-color: #ffffe4; */
    background-color: #fff;
    /* border-radius: 8px; */
    border:solid 2px #f0ecec;
    /* margin-left: 20px; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin: 20px auto;
    font-size: 18px;
  }
  .electronics h1 {
    font-size: 25px;
    margin-top: -10px;
    /* margin-bottom: 10px; */
    color: black;   
  }
  
  .eproduct-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure cards are in a single row */
    overflow: hidden; /* Hide overflow to enable sliding effect */
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .eproduct-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Updated box-shadow property */
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
    margin: 10px ;
    cursor: pointer;
    overflow: hidden;
  }
  
  .eproduct-name {
    font-size: 16px;
    padding-top: 10px;
    color: rgb(65, 64, 64);
    text-align: center;
  }
  
  .eproduct-price{
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: -10px;
  }
  
  
  .eproduct-card img{
    width: 60%;
    height: 60%;
    transition: width 0.3s, height 0.3s;
  }
  
  .eproduct-card img:hover {
    transform: scale(1.1);
  }

  .eproduct-prev,
  .eproduct-next {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    background-color: #007bff; /* Adjust the background color */
    color: #fff; /* Adjust the text color */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .eproduct-prev {
    left: 10px; /* Adjust the left offset for the 'Prev' button */
  }
  
  .eproduct-next {
    right: 10px; /* Adjust the right offset for the 'Next' button */
  }

  .eproduct-prev:hover,
  .eproduct-next:hover {
  background-color: #0056b3; /* Adjust the background color on hover */
}

  @media screen and (max-width: 800px) {
    .eproduct-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .eproduct-card {
      width: 40%; /* Adjust the width for small devices */
    }
    .eproduct-card img{
        width: 45%;
    }
    .eproduct-name, .eproduct-price{
        font-size: 15px;
    }

  }

  @media screen and (max-width: 800px) {
    .rectangle-container {
      top: 20vh; /* Adjust the distance from the top as needed */
      height: calc(75vh - 40px); /* Adjust the height based on the margins */
    }
    .electronics h1{
        font-size: 20px;
    }
  }