.rectangle-container {
    
    width: calc(100% - 40px); /* Adjust the width based on the margins */
    height: calc(70vh - 40px); /* Adjust the height based on the margins */
    /* background-color: #ffffe4; */
    background-color: #fff;
    /* border-radius: 8px; */
    border:solid 2px #f0ecec;
    /* margin-left: 20px; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin: 20px auto;
    font-size: 18px;
  }
  .electronics h1 {
    font-size: 25px;
    margin-top: -10px;
    /* margin-bottom: 10px; */
    color: black;   
  }
  
  .eproduct-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure cards are in a single row */
    overflow-x: hidden; /* Hide overflow to enable sliding effect */
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .eproduct-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Updated box-shadow property */
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
    margin: 10px ;
    cursor: pointer;
    overflow: hidden;
  }
  
  .eproduct-name {
    font-size: 16px;
    padding-top: 10px;
    color: rgb(65, 64, 64);
    text-align: center;
  }
  
  .eproduct-price{
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: -10px;
  }
  
  .eproduct-container a { 
    /* this is for link */
    text-decoration: none;
  }
  
  .eproduct-card img{
    width: 60%;
    height: 60%;
    transition: width 0.3s, height 0.3s;
  }
  
  .eproduct-card img:hover {
    transform: scale(1.1);
  }

  .eproduct-prev,
  .eproduct-next {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    background-color: #007bff; /* Adjust the background color */
    color: #fff; /* Adjust the text color */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .eproduct-prev {
    left: 10px;
    margin-left: 15px; 
    }
  
  .eproduct-next {
    right: 10px; 
  }

  .eproduct-prev:hover,
  .eproduct-next:hover {
  background-color: #0056b3; /* Adjust the background color on hover */
}

@media screen and (min-width: 800px){
.show-more-btn{
  display: none;
}
}

  @media screen and (max-width: 800px) {
    .eproduct-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      scroll-behavior: smooth;
      overflow: hidden;
    }
  
    .eproduct-card {
      width: 40%; /* Adjust the width for small devices */
    }
    .eproduct-card img{
        width: 45%;
    }
    .eproduct-name, .eproduct-price{
        font-size: 15px;
    }
    .eproduct-container.show-scrollbar {
      overflow: auto;
    }

  }

  @media screen and (max-width: 800px) {
    .rectangle-container {
      height: calc(80vh - 40px); /* Adjust the height based on the margins */
      align-items: center;
    }
    .electronics h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .eproduct-next, .eproduct-prev{
        display: none;
    }
    .show-more-btn{
      display: flex;
      justify-content: center;
      margin-top: 15px;
      color:#fff;
      background-color:#007bff;
      border: none;
      padding: 10px;
      border-radius: 5px;

    }
    .show-more-btn:hover{
      background-color:#0056b3;
    }

    .eproduct-container.show-scrollbar {
      overflow-y: auto;
    }
    
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #888; 
      border-radius: 5px; 
    }
    * {
      scrollbar-color: #888 #f1f1f1; 
      scrollbar-width: thin; 
    }
  }
  