/* .main-product-container {
    display: flex;
   
  }  
  .filter-section{
    border: solid 1px #ddd;
    width: 30%;
    padding: 10px;
   
   
   }
*/

.product-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: 15%;
} 

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  height: 350px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-card:hover{
  cursor: pointer;
}

.product-card h2{
  font-size: 1.2em;
}
.product-card:hover h2{
 color: blue;
}

.product-details h3{
  font-size: 15px;
  color:#8c8c8c ;
}

.priceOff s{
  color: #8c8c8c;
  font-size: 16px;

}




.stars{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  background-color: green;
  padding: 5px;
  border-radius: 3px;

}

.priceOff{
  display: flex;
  justify-content: space-between;
}

.priceOff .realPrice{
  font-size:20px;
}
.priceOff .off{
  color: rgb(7, 180, 7);
  font-size: 18px;
}

.product-card img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  /* mix-blend-mode:lighten; */
  border-radius: 4px;
}

@media screen and (max-width: 768px){
  .product-cards{
    top: 12%;
  }
  .product-card{
    width: 40%;
    height: 250px;
  }
  
.product-card h2{
  font-size: 1em;
}
.product-details h3{
  font-size: 0.8em;
}
.priceOff s{
  color: #8c8c8c;
  font-size: 14px;

}
.product-card img{
  width: 100%;
  height: 170px;
  object-fit: contain;
  /* mix-blend-mode:lighten; */
  border-radius: 4px;
}
.priceOff .realPrice{
  font-size: 16px;
}
.priceOff .off{
  font-size: 16px;
}
.stars{
  width: 30%;
  font-size: 12px;
  /* padding: 2px; */
}
}