.topbar {
  width: 100%;
  height: 70px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  .wrapper .left .logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
  }

  .wrapper .left .logo a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: yellow;
    font-size: 30px;

    @media only screen and (max-width: 930px) {
      font-size: 25px;
    }
  }

  .itemContainer {
    display: flex;
    align-items: center;
    color: azure;
    margin: 0 2vh; /* Adjust the margin for the container */
    cursor: pointer;

    @media only screen and (max-width: 930px) {
      display: none;
    }

    /* .icon {
      color: black;
      padding-top: 10px;
      margin-right: 1vh; 
    } */

    .ficons{
      width: 30px;
      height: 30px;
    }

    span {
      font-size: 15px;
      font-weight: 500;
      padding-left: 10px;
      padding-top: 10px;
    }
  }

  .itemContainer input {
    width: 80vh; /* Increase the width of the input field */
    height: 7vh;
    margin-right: 2vh;
    border-radius: 5px;
    border-color: black;
    outline: none;
    padding: 10px; /* Increase padding for a larger input box */
  
    @media only screen and (max-width: 800px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .itemContainer .icon {
    font-size: 24px; /* Increase the font size of the icon */
    color: black;
    padding-top: 10px;
    margin-right: 1vh;
  }

  .wrapper .right .hamburger {
    width: 32px;
    height: 25px;
    display: none; /* Hide by default */
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @media only screen and (max-width: 930px) {
      display: flex; /* Show on screens smaller than or equal to 800px */
    }
  }

  .wrapper .right .hamburger span {
    width: 100%;
    height: 3px;
    background-color: azure;
    transform-origin: left;
    transition: all 2s ease;
  }

  &.active .wrapper .hamburger span:first-child {
    background-color: white;
    transform: rotate(45deg);
  }

  &.active .wrapper .hamburger span:nth-child(2) {
    opacity: 0;
  }

  &.active .wrapper .hamburger span:last-child {
    background-color: white;
    transform: rotate(-45deg);
  }
}
