*{
    margin: 0;
    padding: 0;
}
.signup{
    width: 100%;
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* this is to center the all inputs */

}
.signup form{
    width: 30%;
    height: 60%;
    background-color: azure;
    border-radius: 5px;
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering form elements horizontally */
    
}

.signup form h2{
    margin: 30px 10px;

}
.signup form input{
    width: 70%;
    height: 8%;
    border-radius: 5px;
    border: solid 1px #000;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #707070; 
    padding: 5px;
}
.signup form input:focus {
    outline: none;
    /* border: 2px solid #0eb0e6; */
}

.signup form button {
    margin:6vh 0 4vh 0;
    padding: 10px 10px ;
    width: 70%;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
    background-color:rgb(240, 240, 35);
    border-radius: 5px;
    border: none;
    color: #000;
    
}
.password-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 8%;
}

.password-container input {
    height: 12%; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
  }

  .signup form button:hover{
    background-color:rgb(255, 255, 21);
  }
  .lacc{
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
  }